<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://vuejs.org/js/vue.js" defer></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="js/js_script.js" defer></script>
  <script src="js/vue_script.js" defer></script>
  <title> RAW Sauce Burger </title>
  <meta charset="utf-8"/>
</head>

<body>
  <main>
    <section class="logo" align="center">
      <img src="https://i.imgur.com/1NLTXH0.png" width="1880" height="370"</img>
    </section>

    <div id="vue_container">
    <section id="burgers" class="selection">
      <h2> {{headingtext}} </h2>
      <p> {{descriptivetext}} </p>

        <div v-for = "burger in burgers">

              <div class="d-flex flex-wrap">
                <div class="p-2"> <h2> {{burger.name}} </h2> </div>    <!-- Burger Name-->
                <div class="p-2"> <img src= "burger.img"> </div>       <!-- Burger pic-->
                <div class="p-2">
                  <ul>
                    <li> {{burger.steakGrade}} </li>                   <!-- Burger ingredients-->
                    <li> {{burger.extras}} </li>                       <!-- Burger ingredients-->
                    <li> {{burger.dressing}} </li>                     <!-- Burger ingredients-->
                    <li> {{burger.bread}} </li>                        <!-- Burger ingredients-->
                    <li> {{burger.calories}} kCal </li>                     <!-- Burger ingredients-->
                  </ul>
                </div>
                <div class="p-2"> <button> ORDER </button> </div>
              </div>

        </div>

    </section>
    </div>

  </main>

</body>

  <section class="customerinfo">
    <h3> Customer information </h3>
    <p> This is where you provide necessary information </p>

    <h4> Delivery information: </h4>
    <form>
    <p>
      <label for="fullname"> Full Name </label><br>
      <input type="text" id="fullname" name="fn" required="required" placeholder="First- and lastname">
    </p>

    <p>
      <label for="email"> E-mail Adress </label><br>
      <input type="text" id="email" name="em" required="required" placeholder="E-mail address">
    </p>

    <p>
      <label for="street"> Street </label><br>
      <input type="text" id="street" name="st" required="required" placeholder="Street name">
    </p>

    <p>
      <label for="house"> House </label><br>
      <input type="number" id="house" name="ho" required="required" placeholder="House number">
    </p>

    <p>
      <form action onkeypress="">
          <legend> Select your gender </legend>
          <input checked="checked" type="radio" name="gender" value="male"> Male </input><br>
          <input type="radio" name="gender" value="female"> Female </input><br>
          <input type="radio" name="gender" value="notsure"> Not sure </input>
      </form>
    </p>

    <p>
      <label for="paymentmethod"> Payment method </label><br>
      <select id="paymentmethod" name="pm">
        <option> Swish </option>
        <option selected="selected"> Klarna Betala Direkt </option>
        <option> Klarna Delbetalning </option>
        <option> Credit Card </option>
      </select>
    </p>
  </form>

    <button section class="button" width="200" height="50" type="submit"><img src="http://www.jmkxyy.com/sales-order-icon/sales-order-icon-22.jpg" width="40" height="40"> Place Order </button>

  </section>

<footer>
    <p> RAW Sauce Burgers &trade; </p>
</footer>

</html>
